[submodule "hadoop"]
	path = hadoop
	url = git@github.com:bayudwiyansatria/library-java-apache-hadoop.git
	branch = master
	master = master
[submodule "spark"]
	path = spark
	url = git@github.com:bayudwiyansatria/library-java-apache-spark.git
	branch = master
	master = master
[submodule "machine-learning"]
	path = machine-learning
	url = git@github.com:bayudwiyansatria/library-java-machine-learning.git
	branch = master
	master = master
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:bayudwiyansatria/library-java-benchmark.git
	branch = master
	master = master
[submodule "core"]
	path = core
	url = git@github.com:bayudwiyansatria/library-java-core.git
	branch = master
	master = master
